Repository bitcart/bitcart-store: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint, prettier

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-merge-conflict
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: mixed-line-ending
      - id: check-case-conflict
      - id: check-shebang-scripts-are-executable
      - id: check-json
      - id: check-toml
      - id: check-yaml
      - id: check-symlinks
      - id: debug-statements
      - id: fix-byte-order-marker
      - id: detect-private-key
  - repo: local
    hooks:
      - id: lint
        name: lint
        language: system
        entry: yarn lintfix:precommit
        files: '\.(js|vue)$'
        require_serial: true
      - id: prettier
        name: prettier
        language: system
        entry: yarn prettier
        types: [text]
        exclude: '\.(js|vue)$'
        require_serial: true

Version 0.9.0.0
  version.js
Due: lint

Version 0.9.1.0
  version.js
Due: lint

Update version number for clarity
  version.js
Due: lint

Version 0.10.0.1
  version.js
Due: lint

Version 0.10.1.0
  version.js
Due: lint

Version 0.10.1.1
  version.js
Due: lint

Switch to github actions
  .circleci/config.yml
  .github/renovate.json
  .github/workflows/ci.yml
  .github/zizmor.yml
  .nvmrc
  .pre-commit-config.yaml
Due: prettier

Version 0.10.2.0
  README.md
  version.js
Due: lint, prettier

Add release workflow
  .github/workflows/release.yml
Due: prettier

Fix release workflow
  .github/workflows/release.yml
Due: prettier

Improve CI
  .github/workflows/ci.yml
Due: prettier

Version 0.10.2.1
  version.js
Due: lint

Add support for server api url
  nuxt.config.js
  store/index.js
Due: lint

Fix onion serverside when container shortcut is active
  plugins/axios.js
Due: lint

Don't issue useless backend requests on 404
  layouts/default.vue
  store/index.js
Due: lint

Version 0.10.3.0
  version.js
Due: lint
